<style>

body {

  background-color: green;

}

 

h1 {

  color: blue;

  text-align: center;

  font-family: TimesNewRoman, "Georgia", Times, Baskerville, Georgia, serif;

}

 

p {

  color: #000000;

  font-family: verdana;

  font-size: 15px;

 

  

ul{

  color: #000000;

  font-family: verdana;

  font-size: 15px;

 

}

 

}

</style>

</head>

<body>

 

</body>

</html>